<template name="login">

    {{#autoForm schema=Schemas.LoginForm id="login"}}
    <fieldset>
        <legend>Login</legend>
        {{> afQuickField name="username" autocomplete="off"}}
        {{> afQuickField name="password" autocomplete="off"}}
        <div>
            <button type="submit" class="btn mine btn-primary">Submit</button>
        </div>
    </fieldset>
    {{/autoForm}}
    <hr>

    <div>
        <button id="cancel" class="btn btn-primary">Cancel</button>
        <button id="create" class="btn btn-primary">Create Account</button>

    </div>
    <div style="color: red; text-align: center;" id="lerror"></div>
</template>