<template name="profile">

    {{#autoForm schema=Schemas.ProfileForm id="profile" doc=data}}
    <fieldset>
        <legend>Change Profile</legend>
        {{> afQuickField name="name" autocomplete="off"}}
        {{> afQuickField name="email"}}

        <div>
            <button type="submit" class="btn profile btn-primary">Submit</button>
        </div>
    </fieldset>
    {{/autoForm}}
    <hr>
    <div>
    <button id="pcancel" class="btn btn-default">Cancel</button>
    <button id="password" class="btn password btn-default" disabled="{{dis}}">Change Password</button>
    </div>
    <div style="color: red; text-align: center;" id="perror"></div>

</template>