template(name="contactScrollView")
    +Scrollview
        +famousEach contacts
            +Surface template="contactItem" style="border: 1px solid lightgrey;" size="[undefined,90]" modifier="Modifier" translate="[0,0,-200]"
