template(name="header")
      +Surface id="back" size="[undefined,undefined]" class="header" translate="[0,0,10]"
          P
      +Surface id="label" size="[170,50]" align="[.5,.5]" origin="[.5,.5]" class="headText" translate="[0,0,20]"
            | Contacts
      +Surface template="nav" size = "[75,50]" align="[.85,.5]" origin="[.5,.5]" class="navText" translate="[0,0,20]"
