template(name="contactScrollView")
    +Scrollview id='csv'
        +famousEach contacts
            +Surface template="contactItem"   size="[undefined,90]" modifier="Modifier" translate="[0,0,-200]"
